@font-face {
    font-family:"fire";
    src: url("/assets/FiraSans-Regular.ttf");
  }
  
  *,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*Estilos relativos al botón hamburguesa */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
    font-size: 1.5rem;
    height: 10vh;
    width: 100%;
}

.logo {
    max-width: 9rem;
 height: 8rem;
 position: relative;
 margin-bottom: 27%;
 margin-top: 27%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #161515;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        z-index: 11;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        ;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}