
$h1-font-size: 2rem;
$span-font-size: 3rem;
$input-size: 20.75rem;
$h1-color: white;
$span-color: white;
$margin-top: 30%;
$clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);



$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;